/* adding fonts */
@font-face{
	font-family: Infra;
	src: url('../fonts/Infra-Regular.otf');
}
body{
	padding: 0;
	margin: 0;
	height: 100%;
	width:100%;
}


/*Header styling starts here */
header{
	width: 100%;
	height: 120px;
	/*background: ghostwhite;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	height: 90px;
	width: 17%;
	/*background:red;*/
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}
.header_logo img{
	height: 80%;
	width: 55%;
}
.header_links{
	height: 90px;
	width: 67%;
	/*background:blue;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-family: Infra;
	font-weight: 700;
}
.header_links a{
	text-decoration: none;
	color: black;
}
.active{
	color: rgba(140, 198, 63, 1);
	/*padding: */
}
.header_icons{
	height: 90px;
	width: 15%;
	/*background:lightblue;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
	color: rgba(140, 198, 63, 1);
}
.header_icons a{
	text-decoration: none;
	color: rgba(140, 198, 63, 1);
}

.marginR10{
	margin-right: 15px;
}

/*header styling ends here*/

/*header_image*/
.header_image{
	width: 100%;
	height: 190px;
	/*background: red;*/
	background-image: url(../img/background/consultation/background.png);
	background-size: cover;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-left: 100px;
}


/*fontsize*/
.fontsize40{
	font-size: 40px;
}


@media (max-width: 1025px){
	.header_image{
		height: 200px;
		background-size: cover;
	}
	.fontsize40{
		font-size: 50px;
	}
}