/* adding fonts */
@font-face{
	font-family: Infra;
	src: url('../fonts/Infra-Regular.otf');
}

@font-face{
	font-family: Afterglow;
	src: url('../fonts/Afterglow-Regular.ttf');
}
a:hover{
	text-decoration: none;
}


body{
	padding: 0;
	margin: 0;
	height: 100%;
	width:100%;
}


/*Header styling starts here */

.nav{
	/*background-color: red;*/
	width: 83%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




header{
	width: 100%;
	height: 120px;
	background: ghostwhite;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	height: 90px;
	width: 17%;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}
.header_logo img{
	height: 80%;
	width: 55%;
}

.header_links{
	height: 90px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-family: Infra;
	font-weight: 700;
}
.header_links a{
	text-decoration: none;
	color: black;
}

.header_button{
	height: 50px;
	width: 145px;
	background-color: rgba(79, 139, 1, 1);
	border:none;
	border-radius: 30px;
	color: white;
}
.header_button:hover{
	background-color: rgba(47, 83, 0, 1); 
}


.active{
	color: rgba(140, 198, 63, 1);
	/*padding: */
}

.header_icons{
	height: 90px;
	width: 15%;
	/*background:lightblue;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	/*color: rgba(140, 198, 63, 1);*/
	color: black;
}
.header_icons a{
	text-decoration: none;
	color: rgba(140, 198, 63, 1);
}


.marginR10{
	margin-right: 15px;
}


/*header styling ends here*/


/* Body Styling Starts here*/

main{
	height: 100%;
	width: 100%;
}

/*banner style here*/
.Banner{
	width: 100%;
	height: 570px;
	background-image:url(../img/background/home/background.png); 
	background-size: cover;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.Banner_shadow{
	height: 570px;
	width: 100%;
	background: black;
	opacity: 0.5;
	position: absolute;
	z-index: 0;
}
.Banner_text{
	height: 100%;
	width: 89%;
	/*background: red;*/
	z-index: 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-family: infra;
}
.Banner_text_texts{
	height: 67%;
	width: 80%;
	/*background: cyan;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-family: infra;
}
.B_Welcome{
	color: white;
	font-size: 40px;
	font-family: Afterglow;
}
.B_text{
	color: white;
	font-size: 90px;
	letter-spacing: 0px;
	line-height: 80px;
	word-spacing: 1px;
	font-weight: bold;
}
.Banner_text_button{
	height: 28%;
	width: 80%;
	/*background: grey;*/
	display: flex;
	justify-content: flex-start;
}
.Banner_button{
	height: 55px;
	width: 265px;
	color: black;
	background-color:rgba(252, 238, 77, 1);
	border-radius:28px;
	border:0px solid grey;
	font-size:20px;
	/*padding:17px 76px;*/
}

.Banner_social{
	height: 100%;
	width: 10%;
	/*background: green;*/
	z-index: 7;
	display: flex;
	flex-direction: column-reverse;
}
.B_social_box{
	height: 50%;
	width: 100%;
	/*background: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Social_box_bar{
	height: 60px;
	width: 1px;
	background: white;
}



/*bottom box style*/
.banner_bottom_boxes{
	height: 165px;
	width: 100%;
	/*background: red;*/
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
}
.bottom_box1{
	height: 100%;
	width: 50%;
	background-color: rgba(139, 197, 63, 1);
}
.bottom_box2{
	height: 100%;
	width: 50%;
	background-color: rgba(79, 139, 1, 1);
}
.bottom_box3{
	height: 100%;
	width: 50%;
	background-color: rgba(47, 83, 0, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottom_box4{
	height: 100%;
	width: 50%;
	background-color: rgba(29, 51, 1, 1);
}
.Button_Phase1{
	height: 100%;
	width: 50%;
	display: flex;
}

.Button_Phase2{
	height: 100%;
	width: 50%;
	display: flex;
}


/*our mission style*/
.Our_mission{
	height: 540px;
	width: 100%;
	background-color: rgba(244, 244, 244, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.Our_mission_boxtext{
	height: 90%;
	width: 77%;
	/*background: blue;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 4;
}

.Our_mission_alias{
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: green;*/
	/*opacity: 0.3;*/
}



/*our mission alias*/
.alias1{
	width: 100%;
	height: 50%;
	/*background-color: red;*/
	display: flex;
	/*justify-content: */
	align-items: center;
}
.A1_img1{
	height: 100%;
	width: 50%;
	/*background: grey;*/
}

.A1_img2{
	height: 100%;
	width: 50%;
	/*background: lightgrey;*/
	display: flex;
	justify-content: flex-end;
}

.A1_img2 img{
	height: 90%;
	width: 70%;
	background-size: cover;
}

.alias2{
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	/*background: blue;*/
}

.A2_img1{
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	/*background: grey;*/
}

.A2_img1 img{
	height: 90%;
	width: 70%;
	background-size: cover;
}

.A2_img2{
	height: 100%;
	width: 50%;
	/*background: lightgrey;*/
	display: flex;
	justify-content: flex-end;
}



/*products and services*/
.Products_Services{
	width: 100%;
	height:680px;
	background:white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Products_Services_text{
	height: 100%;
	width: 43%;
	/*background-color: red;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.text_holder{
	height: 90%;
	width: 90%;
	/*background-color: lightgrey;*/
	display: flex;
	flex-direction: column;
}
.text_holder_text{
	width: 100%;
	height: 70%;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.h1{
	width: 100%;
	height: 60%;
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 40px;
}
.div_text{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: flex-end;
	text-align: right;
}
.div_text2{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: flex-end;
	text-align: right;
}

.text_holder_button{
	width: 100%;
	height: 30%;
	/*background-color: lightgreen;*/
	display: flex;
	justify-content: flex-end;
}
.text_button{
	height: 55px;
    width: 200px;
    color: black;
    background-color: rgba(252, 238, 77, 1);
    border-radius: 28px;
    border: 0px solid grey;
    font-size: 20px;
}


.Products_Services_img{
	height: 100%;
	width: 55%;
	/*background-color: green;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.img_holder{
	height: 90%;
	width: 90%;
	/*background-color: grey;*/
}

.img_holder1{
	width: 100%;
	height: 50%;
	/*background-color: blue;*/
	display: flex;
	align-items: center;
}
.img_holder2{
	width: 100%;
	height: 50%;
	/*background-color: lightblue;*/
	display: flex;
	align-items: center;
}
.img_holder a{
	color: black;
}

.img1{
	width: 50%;
	height: 100%;
	background-image: url(../img/background/home/img1.png);
	background-size: cover;
	position: relative;
}
.img1Alias{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity:0;
	font-size: 40px;
	top:0;
	left:0;
	color:black;
	background-color: rgba(139, 197, 63, 1);
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img1 .img1Alias:hover { opacity:0.7; }      
.img1 .img1Alias .text1 {
	height:0;
	opacity:1;
	transition-delay: 0s;
	transition-duration: 0.4s;
}
.img1 .img1Alias:hover .text1 {
	opacity:1;
}



.img2{
	width: 50%;
	height: 100%;
	background-image: url(../img/background/home/img2.png);
	background-size: cover;
	position: relative;
}
.img2Alias{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity:0;
	font-size: 40px;
	top:0;
	left:0;
	color:black;
	background-color: rgba(139, 197, 63, 1);
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img2 .img2Alias:hover { opacity:0.7; }      
.img2 .img2Alias .text2 {
	height:0;
	opacity:1;
	transition-delay: 0s;
	transition-duration: 0.4s;
}
.img2 .img2Alias:hover .text2 {
	opacity:1;
}


.img3{
	width: 50%;
	height: 100%;
	background-image: url(../img/background/home/img3.png);
	background-size: cover;
	position: relative;
}
.img3Alias{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity:0;
	font-size: 40px;
	top:0;
	left:0;
	color:black;
	background-color: rgba(139, 197, 63, 1);
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img3 .img3Alias:hover { opacity:0.7; }      
.img3 .img3Alias .text3 {
	height:0;
	opacity:1;
	transition-delay: 0s;
	transition-duration: 0.4s;
}
.img3 .img4Alias:hover .text3 {
	opacity:1;
}


.img4{
	width: 50%;
	height: 100%;
	background-image: url(../img/background/home/img4.png);
	background-size: cover;
	position: relative;
	display:block;
	cursor:pointer;
}
.img4Alias{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity:0;
	font-size: 40px;
	top:0;
	left:0;
	color:black;
	background-color: rgba(139, 197, 63, 1);
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	-ms-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img4 .img4Alias:hover { opacity:0.7; }      
.img4 .img4Alias .text4 {
	height:0;
	opacity:1;
	transition-delay: 0s;
	transition-duration: 0.4s;
}
.img4 .img4Alias:hover .text4 {
	opacity:1;
}


/*map*/
.maps{
	width: 100%;
	height: 600px;
}

.direction{
	width: 100%;
	height: 15%;
	/*background-color: blue;*/
	display: flex;

}

.line1{
	width: 35%;
	height: 100%;
	/*background-color: black;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.line{
	height: 1px;
	width: 50%;
	background-color: black;
}

.lineText{
	width: 30%;
	height: 100%;
	/*background-color: white;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.line2{
	width: 35%;
	height: 100%;
	/*background-color: black;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.lines{
	height: 1px;
	width: 50%;
	background-color: black;
}

.address{
	width: 100%;
	height: 10%;
	/*background-color: lightblue;*/
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	font-weight: bold;
}
.map_img{
	width: 100%;
	height: 75%;
	background-image: url(../img/background/home/map.png);
	background-size: cover;
}

/*Newsletter*/

.Newsletter{
	height: 180px;
	width: 100%;
	/*background-color: red;*/
	display: flex;
}

.Newsletter_text{
	height: 100%;
	width: 45%;
	background-color: rgba(79, 139, 1, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	color: white;
	
}
.join{
	width: 80%;
	height: 40%;
	/*background-color: black;*/
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.sign_up{
	width: 80%;
	height: 60%;
	/*background-color: cyan;*/
	display: flex;
}


.form_control{
	height: 100%;
	width: 55%;
	background-color: dodgerblue;
	display: flex;
}
.email_box{
	height: 100%;
	width: 66%;
	background-color: rgba(47, 83, 0, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: verdana;
}
.submit_box{
	height: 100%;
	width: 35%;
	/*background-color: red;*/
}
.p_email{
	width: 85%;
	border:none;
	border-bottom: 1px solid white;
	background-color: transparent;
	padding: 7px;
	font-size: 18px;
	color: white;
}


input::placeholder{
	color: white;
}

.submit_button{
	height: 100%;
	width: 100%;
	border:none;
	background-color: rgba(29, 51, 1, 1);
}


/*footer*/
footer{
	height: 500px;
	width: 100%;
	/* background-color: rgba(139, 197, 63, 1); */
	background-color: #484848;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer_div1{
	height: 38%;
	width: 100%;
	/*background-color: red;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.div1_box{
	height: 100%;
	width: 80%;
	/*background-color: dodgerblue;*/
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
}
.div1_box1{
	height: 100%;
	width: 30%;
	/*background-color: purple;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.div1_box1 img{
	height: 70%;
	width: 70%;
}


.div1_box2{
	height: 100%;
	width: 65%;
	/*background-color: pink;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 6%;
}




.footer_div2{
	height: 56%;
	width: 100%;
	/*background-color: blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.div2_box{
	height: 100%;
	width: 80%;
	/*background-color: dodgerblue;*/
	display: flex;
	justify-content: space-between;
}
.div2_box_text1{
	height: 100%;
	width: 30%;
	/*background-color: purple;*/
	border-right: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}
.div2_box_text2{
	height: 100%;
	width: 60%;
	/*background-color: purple;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;


}
.text2_h1{
	height: 30%;
	width: 100%;
	/*background-color: cyan;*/
}
.About_us{
	height: 70%;
	width: 100%;
	display: flex;
	/*background: green;*/
}

.About_us div{
	height: 100%;
	width: 50%;
}


/*prefooter*/
.prefooter{
	width: 100%;
	height: 30px;
	/* background-color: rgba(139, 197, 63, 1); */
	background-color: #2b2b2b;
}




/*footer2*/
.footer2{
	height: 80px;
	width: 100%;
	/* background-color: rgba(79, 139, 1, 1); */
	background-color: #2b2b2b;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer2_text{
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.div2_box_text2 a{
	color: white;
}


 /*back to top*/
.Back_to_top{
	background-color: rgba(251, 237, 33, 1);
	height: 75px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	border:none;
	border-radius: 60%;
	position: fixed;
	/*top: 0;*/
	left: 90%;
	bottom: 7%;
	/*display: none;*/
	z-index: 99;
	cursor: pointer;
}
.Back_to_top:hover{
	background-color: gold;
}


/*modular css*/
.modal_text{
    height: 170px;
    width: 90%;
    /*background-color: lightgrey;*/
    text-align: center;
  }
.modal_text_body{
     font-size: 30px;
  }
.modal_text_header{
    font-size: 20px;
  }
.send_message{
    height: 60px !important;
    width: 400px;
    font-size: 20px;
    text-align: center;
    border: 0.5px black solid;
  }
.DisplayFlexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.header_height{
    height: 120px;
    /* background-color: red; */
    background-image: url(../img/background/news/news.png);
    background-size: cover;

  }

.btn-primary:hover{
    background-color: rgba(139, 197, 63, 1)!important;
    border: none;
  }
.my_btn{
    background-color: rgba(139, 197, 63, 1);
    border: none;
    border-radius: 20px;
  }
.my_btn:hover{
     background-color: rgba(140, 198, 63, 1);
  }

button.close{
	background-color: rgba(140, 198, 63, 1) !important;
	width: 35px;
	height: 35px;
	border-radius: 28px;
	z-index: 27;
}

.close{
	font-size: 20px;
	z-index: 27;
	opacity: 0.8 !important;
	text-shadow: none;
	color: grey !important;
}



/*colors*/
.white{
	color: white;
}
.yellow{
	color: rgba(140, 198, 63, 1);
}
.Lgreen{
	color: rgba(139, 197, 63, 1);
}
/*margins*/
.marginTop10{
	margin-top: 12px;
}
.marginRight25{
	margin-right: 25px;
}

/*height */
.height50{
	height: 50%;
}

/*width*/
.width100{
	width: 100%;
}


/*font size*/

.fontsize75{
	font-size: 60px;
}
.fontsize70{
	font-size: 53px;
	font-weight: thin;
}
.fontsize25{
	font-size: 20px;
}

.fontsize30{
	font-size: 25px;
}
.fontsize35{
	font-size: 30px;
}
.fontsize20{
	font-size: 17px;
}

.textalgnCent{
	text-align: center;
}

/*flex*/

.alignCent{
	display: flex;
	align-items: center;
}

.directColm{
	flex-direction: column;
}

.justyFend{
	justify-content: flex-end;
}
.justyCent{
	justify-content: center;
}




@media (max-width: 1125px){
    .header_links{
    	font-size: 15px !important;
    }
    /*.fontsize70{
    	font-size: 40px;
    }*/
    .fontsize25{
    	font-size: 15px;
    }
    .fontsize30{
    	font-size: 20px;
    }
}