.nav{
	/*background-color: green;*/
}

/*hambuger styling*/
.icon{
	display: none;
	position: relative;
	/*transform: translate(-50% ,-50%);*/
	width: 70px;
	height: 70px;
	cursor: pointer;
	margin-right: 22px;
	z-index: 27;
}
.hamburger{
	width: 50px;
	height: 7px;
	background-color: green;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
	-moz-transition: translate(-50% ,-50%);
    -webkit-transition: translate(-50% ,-50%);
    -o-transition:translate(-50% ,-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
	-moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition:.5s;
    z-index: 27;
}
.hamburger:before,
.hamburger:after
{
	content: '';
	position: absolute;
	width: 50px;
	height: 7px;
	background-color: green;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s; 
	-moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition:.5s;
}

.hamburger:before
{
	top: -16px;
}
.hamburger:after
{
	top: 16px;
}

.icon.active .hamburger{
	background-color: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.icon.active .hamburger:before{
	top: 0;
	transform: rotate(45deg);
	-moz-transition: rotate(45deg);
    -webkit-transition: rotate(45deg);
    -o-transition: rotate(45deg);

}
.icon.active .hamburger:after{
	top: 0;
	transform: rotate(135deg);	
	-moz-transition: rotate(135deg);
    -webkit-transition: rotate(135deg);
    -o-transition: rotate(135deg);
}


/*mobile menu styling*/
.mobile_menu{
	font-size: 35px;
	transition: .5s; 
	-moz-transition: 1.5s;
    -webkit-transition: 1.5s;
    -o-transition:1.5s;
	background-color: rgba(29, 51, 1, 1);;
	display: none;
	box-shadow: 0 20px 10px rgba(0,0,0,.1);
	width: 90%;
	height: 800px;
	position: absolute; 
	z-index: 7;
}
.mobile_menu a{
	color: white;
	text-decoration: none;
}
.mobile_menu a:hover{
	color: white;
	text-decoration: none;
}
.mobile_menu ul li{
	padding: 20px;
	margin-top: 30px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 12px;
	list-style: none;
	height: 120px;
	display: flex;
	align-items: center;
}
.mobile_menu ul li:hover{
	border-bottom: 2px grey solid;
}

.mobile_menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.mobile_menu ul li a .active{
	color: rgba(139, 197, 63, 1);
}
.container_menu{
	display: flex;
	justify-content: center;
}


@media (max-width: 1025px){

	/*header  and Banner responsive styling starts here*/
	.header_logo{
		    width: 35%;
		    height: 95%;
	}
	.Banner_text{
		width: 100%;
	}
	.Banner, .Banner_shadow {
		height:  800px;
	}
	.Banner_text_texts{
		align-items: center;
		justify-content: center;
		width: 90%;
	}
	.Banner_text_button{
		align-items: flex-start;
		text-align: center;
		justify-content: center;
	}
	.B_text{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 95px;
	}
	.Banner_button{
		height: 75px;
    	width: 320px;
    	border-radius: 32px;
    	font-size: 27px;
	}
	.Banner_social{
		display: none;
	}
	.banner_bottom_boxes{
		flex-direction: column;
		height: 500px;
	}
	.bottom_box1{
		width: 50%;
		height: 100%;
	}
	.Button_Phase1, .Button_Phase2{
		width: 100%;
		height: 50%;
	}

	.height70{
		height: 65%;
		width: 100%;
	}
	.height30{
		height: 35%;
		width: 100%;
	}

	.textalignCen{
		text-align: center;
	}
	.textFont85{
		font-size: 85px;
	}
	.width95{
		width: 95% !important;
	}



	.nav{
		display: none;
	}
	header{
		height: 150px;
	}
	header .container{
		display: flex;
		justify-content: space-between;
		margin: 0;
		width: 100%;
	}

	.B_Welcome{
		font-size: 60px;
	}
	/*header and Banner responsive styling ends here*/

	.icon{
		display: block;
		margin-right: 20px;
		z-index: 27;
	}
	
	
	.Our_mission_boxtext{
		font-size: 55px;
		height: 97%;
		width: 85%;
		font-weight: 200;
		/*line-height: 1.42857143;*/
	}
	.Our_mission{
		height: 1100px;
	}
	.text_size{
		font-size: 35px;
		font-weight: 200;
		line-height: 1.42857143;
	}
	.text_size2{
		font-size: 27px;
	}
	.text_size5{
		font-size: 50px;
	}
	.text_size3{
		font-size: 40px;
	}
	.Products_Services{
		flex-direction: column;
		height: 1500px;
	}
	.Products_Services_text{
		width: 100%;
		height: 50%;
		justify-content: center;
	}
	.Products_Services_img{
		width: 100%;
		height: 50%;
		justify-content: center;
	}
	.text_holder{
		justify-content: center;
		align-items: center;
	}
	.h1, .text_holder_button, .div_text {
		justify-content: center;
		align-items: center;
	}
	.text_holder_button , .div_text , .div_text2{
		text-align: left;
	}
	.Prod_ser{
		display: flex;
		flex-direction: row-reverse;
	}

	.text_holder_text{
		height: 80%;
		text-align: left;
	}
	.text_holder_text h1{
		margin: 0;
		text-align: center;
	}

	.text_holder_button{
		height: 20%;
	}

	.text_button{
		height: 75px;
    	width: 300px;
    	border-radius: 32px;
	}

	.div_text2{
		justify-content: center;
		align-items: center;
	}
	.Mission_text1{
		height: 65%;
		text-align: left;
	}
	.Mission_text2{
		height: 35%;
		text-align: left;
	}

	.line2, .line1{
		width: 30%;
	}
	.lineText{
		width: 40%;
	}
	.Newsletter{
		flex-direction: column;
		height: 250px;
	}
	.Newsletter_text{
		width: 100%;
		height: 70%;
		align-items: center;
		text-align: center;
	}
	.sign_up{
		text-align: center;
		justify-content: center;
		align-items: center;
		height: 50%;
	}
	.join{
		text-align: center;
		justify-content: center;
		align-items: center;
		height: 50%;
		font-weight: bold;
	}

	.form_control{
		width: 100%;
		height: 30%;
	}

	.footer2_text {
		font-size: 35px;
	}
	footer{
		height: 620px;
	}
	.div2_box_text1{
		width: 35%;
	}
	.footer_div1{
		height: 35%;
	}
	.footer_div2{
		height: 65%;
	}
	.div1_box1 img{
		width: 95%;
	}
	.Back_to_top{
		height: 115px;
		width: 120px;
		font-size: 65px;
		left: 85%;
		bottom: 7%;
	}

	.modal_text_body{
     	font-size: 37px;

	}
	.modal_text_header, .send_message{
	    font-size: 30px;
	}

	.modal_text{
	    height: 250px;
	 }
	.my_btn{
	    height:55px;
	    width:250px;
	    border-radius: 20px;
	    font-size: 30px;
	}
}