/* adding fonts */
@font-face{
	font-family: Infra;
	src: url('../fonts/Infra-Regular.otf');
}
body{
	padding: 0;
	margin: 0;
	height: 100%;
	width:100%;
}


/*Header styling starts here */

.nav{
	/*background-color: red;*/
	width: 83%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




header{
	width: 100%;
	height: 120px;
	background: ghostwhite;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	height: 90px;
	width: 17%;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}
.header_logo img{
	height: 80%;
	width: 55%;
}

.header_links{
	height: 90px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-family: Infra;
	font-weight: 700;
}
.header_links a{
	text-decoration: none;
	color: black;
}

.header_button{
	height: 50px;
	width: 145px;
	background-color: rgba(79, 139, 1, 1);
	border:none;
	border-radius: 30px;
	color: white;
}
.header_button:hover{
	background-color: rgba(47, 83, 0, 1); 
}


.active{
	color: rgba(140, 198, 63, 1);
	/*padding: */
}

.header_icons{
	height: 90px;
	width: 15%;
	/*background:lightblue;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	/*color: rgba(140, 198, 63, 1);*/
	color: black;
}
.header_icons a{
	text-decoration: none;
	color: rgba(140, 198, 63, 1);
}


.marginR10{
	margin-right: 15px;
}


/*header styling ends here*/

/*header_image*/
.header_image{
	width: 100%;
	height: 190px;
	/* background: red; */
	background-image: url(../img/background/transfer/background.png);
	background-size: cover;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-left: 100px;
}


/*fontsize*/
.fontsize40{
	font-size: 40px;
}

 /*back to top*/
.Back_to_top{
	background-color: rgba(251, 237, 33, 1);
	height: 75px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	border:none;
	border-radius: 60%;
	position: fixed;
	/*top: 0;*/
	left: 90%;
	bottom: 7%;
	/*display: none;*/
	z-index: 99;
	cursor: pointer;
}
.Back_to_top:hover{
	background-color: gold;
}

@media (max-width: 1025px){
	.header_image{
		height: 200px;
		background-size: cover;
	}
	.fontsize40{
		font-size: 50px;
	}
}